# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# mpeltonen/sbt-idea plugin
.idea_modules/
project/project
project/target
target
.idea
.openapi-generator
.bloop
.metals
metals.sbt
.vscode
generated/target
generated/src
client/target
client/src
userreg/src
userreg/target
userreg/userreg.iml
product/src
product/product.iml
product/target
geoTaxonomy/src
geoTaxonomy/target
geoTaxonomy/userreg.iml
.bsp
.DS_Store
snapshots
snapshots/
.env
.credentials
!src/test/resources/contract-test-01.pdf
src/test/resources/*.pdf
src/test/resources/*.p7m